<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="SHORTCUT ICON" href="\image\Dongguk.ico"/>
    <title>동국대학교 산학연계프로젝트</title>

    <link rel="stylesheet" href="../css/reset.css">
    <!-- Bootstrap core CSS-->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin.css" rel="stylesheet">
  </head>

  <!-- 메인 페이지 -->
  <body id="page-top">
    <!-- 네비게이션 바 불러오기 -->
    <% include ../navBar.ejs %>

    <!-- 메인 -->
    <div class="content-wrapper">
      <!-- 메인 내용 -->
      <div class="container-fluid">
        <div class="mb-0 mt-4">
          <h6>평가 > 만족도조사 </h6>
        </div>
        <hr class="mt-2">
        <% if(userInfo.userType == 'mentor') { %>
          <div class="card card-register mx-auto mt-5 mb-5">
            <div class="card-body">
              <form action="/eval/DGU601" method="get" >
                <div class="mb-1 mt-1" >
                  <h7>링크를 클릭해서 평가에 응답해주세요.</h7>
                  <h7>응답 완료 후에 최종 멘토비정산이 진행됩니다. </h7>
                </div>
                <h7> <a href="<%=EvalInfo[0].eval_url_mtr %>"><만족도조사 하러가기></a> </h7>
              </form>
            </div>
          </div>
        <% } else if(userInfo.userType == 'student') { %>
          <div class="card card-register mx-auto mt-5 mb-5">
            <div class="card-body">
              <form action="/eval/DGU601" method="get" >
                <div class="mb-1 mt-1">
                  <h7> 링크를 클릭해서 평가에 응답해주세요.</h7>
                </div>
                <div class="mb-1 mt-1">
                  <h7>응답 완료 후에 최종 회의비정산이 진행됩니다. </h7>
                </div>
                <h7> <a href="<%=EvalInfo[0].eval_url_std %>"><만족도조사 하러가기></a> </h7>
              </form>
            </div>
          </div>
        <% } else if(userInfo.userType == 'admin') { %>
          <div class="card card-register mx-auto mt-5 mb-5">
            <div class="card-body">
              <h4>멘토용 만족도조사</h4>
              <hr class="mt-2">
              <form action="/eval/DGU601" method="get" >
                <div class="mb-1 mt-1">
                  <h7> 링크를 클릭해서 평가에 응답해주세요.</h7>
                  <h7>응답 후에 최종 멘토비정산이 진행됩니다. </h7>
                </div>
                <h7> <a href="<%=EvalInfo[0].eval_url_mtr %>"><만족도조사 하러가기></a> </h7>
              </form>
            </div>
          </div>
          <div class="card card-register mx-auto mt-5 mb-5">
            <div class="card-body">
              <h4>학생용 만족도조사</h4>
              <hr class="mt-2">
              <form action="/eval/DGU601" method="get" >
                <div class="mb-1 mt-1">
                  <h7> 링크를 클릭해서 평가에 응답해주세요.</h7>
                  <h7>응답 후에 최종 회의비정산이 진행됩니다. </h7>
                </div>
                <h7> <a href="<%=EvalInfo[0].eval_url_std %>"><만족도조사 하러가기></a> </h7>
              </form>
            </div>
          </div>
          <!-- <div class="card card-register mx-auto mt-5 mb-5">
            <div class="card-body">
              <form action="/eval/DGU601" method="post" >
                <h4>만족도조사 링크 저장</h4>
                <hr class="mt-2">
                <label for="upload_link_std">학생용</label>
                <input class="form-control mb-4" name="std_eval_link" id="std_eval_link" type="text" value="<%=EvalInfo[0].eval_url_std%>"></input>
                <label for="upload_link_mtr">멘토용</label>
                <input class="form-control mb-4" name="mtr_eval_link" id="mtr_eval_link" type="text" value="<%=EvalInfo[0].eval_url_mtr%>"></input>
                <div class = "form-group mt-4">
                  <div class="form-row">
                    <div class = "col-md-5">
                      <label> </label>
                    </div>
                    <div class = "col-md-2">
                      <input  type="submit" class="btn btn-primary btn-block" name = "SaveState" value="저장" />
                    </div>
                    <div class = "col-md-5">
                      <label> </label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div> -->
        <% } %>
      </div>
      <!-- 맨위로 가기 버튼 -->
      <!-- <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
      </a> -->
    </div>
    <!-- include footer -->
    <% include ../footer.html %>

    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin.min.js"></script>
  </body>
</html>
