<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="SHORTCUT ICON" href="\image\Dongguk.ico"/>
    <title>동국대학교 산학연계프로젝트</title>

    <!-- Bootstrap core CSS-->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin.css" rel="stylesheet">
  </head>

  <!-- 메인 페이지 -->
  <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- 네비게이션 바 불러오기 -->
    <% include ../navBar.ejs %>

    <!-- 메인 -->
    <div class="content-wrapper">
      <!-- 메인 내용 -->
      <div class="container-fluid">
        <h6>팀 관리 > 팀 선정</h6>
        <hr>

        <% if(pjInfo == "noPj") { %>
          <div class="card card-register mx-auto mt-5 mb-5">
            <div class="card-body">
              <div class="form-group">
                <table class="table">
                  <thead>
                    <tr>
                      <th>팀 이름</th>
                      <th>팀원 보기</th>
                      <th>팀 선택</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td colspan="3" style="text-align: center;"> 없음 </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <% } else { %>
          <% for(var key in pjInfo) { %>
            <div class="card card-register mx-auto mt-5 mb-5">
              <div class="card-header">
                <%= pjInfo[key].prjName %>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>팀 이름</th>
                        <th>팀원 보기</th>
                        <th>팀 선택</th>
                      </tr>
                    </thead>

                    <tbody>
                      <% if(pjInfo[key].want1.length == 0) { %>
                          <tr>
                            <td colspan="3" style="text-align: center;"> 없음 </td>
                          </tr>
                      <% } else { %>
                        <% for(var teamKey in pjInfo[key].want1) { %>
                          <tr>
                            <td><%= pjInfo[key].want1[teamKey].team_name %></td>
                            <td><div id="tmvb" class="btn btn-dark" onclick="teamView('<%= pjInfo[key].want1[teamKey].team_id %>')"> + </div> </a></td>
                            <td><div id="tsb" class="btn btn-dark" onclick="teamOk('<%= pjInfo[key].want1[teamKey].team_id %>', '<%= key %>')"> 선택 </div> </a></td>
                          </tr>
                        <% } %>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>

      <!-- include footer -->
      <% include ../footer.html %>

      <!-- 맨위로 가기 버튼 -->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"></h4>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <div class="modal-body" style="text-align: center;">
            <table id="modalTable" class="table">
              <thead>
                <tr>
                  <th>이름</th>
                  <th>전공</th>
                  <th>개인역량표</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>  </td>
                  <td>  </td>
                  <td>  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin.min.js"></script>

    <script type="text/javascript">
      function fileDown(stdId) {
        $.ajax({
          url: "/teammgt/DGU221/fd",
          type: "post",
          cache: false,
          data: {s_id: stdId},
          success: function(result) {
            if(result == 'noF') {
              alert('파일이 없습니다.');
              return false;
            }

            abilityDownload(result);
          }
        });
      }

      function abilityDownload(fullPath) {
        var downloadPath = fullPath.substring(7);
        location.href = "/fileDownload/" + downloadPath;
      }

      function teamOk(tId, pId) {
        if(!confirm('팀 선택을 하시겠습니까?')){

          return false;
        }

        $.ajax({
          url: "/teammgt/DGU221/select",
          type: "post",
          cache: false,
          data: {t_id: tId, p_id: pId},
          success: function(result) {
            if(result == "sOk") {
              alert('팀 선정이 완료되었습니다.');
              location.reload();
            }
          }
        });
      }

      function teamView(tId) {
        var str = "";
        $.ajax({
          url: "/teammgt/DGU221/std",
          type: "post",
          cache: false,
          data: {t_id: tId},
          success: function(result) {

            for(var i = 0; i < result.length; i++) {
              var path = new String(result[i].std_resume);
              var stdId = "\u0022" + result[i].std_id + "\u0022";

              str += "<tr>";
              str += "<td>" + result[i].std_name + "</td>";
              str += "<td>" + result[i].major + "</td>";
              str += "<td><div class='btn btn-dark' onclick='fileDown(" + stdId + ");'> 다운 </div></td>";
              str += "</tr>";
            }

            $("#modalTable > tbody").empty();
            $("#modalTable > tbody").append(str);

            $("#myModal").modal();
          }
        });
      }
    </script>
  </body>
</html>
