<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="SHORTCUT ICON" href="\image\Dongguk.ico"/>
    <title>동국대학교 산학연계프로젝트</title>

    <link rel="stylesheet" href="../css/reset.css">
    <!-- Bootstrap core CSS-->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin.css" rel="stylesheet">
  </head>

  <!-- 메인 페이지 -->
  <body id="page-top">
    <!-- 네비게이션 바 불러오기 -->
    <% include ../navBar.ejs %>

    <!-- 메인 -->
    <div class="content-wrapper">
      <!-- 메인 내용 -->
      <div class="container-fluid">
        <h6>팀 관리 > 팀 생성 > 팀 구성</h6>
        <hr>

        <div class="card card-register mx-auto mt-5 mb-5">
          <div class="card-header">팀 구성</div>
          <div class="card-body">
            <form id="stdSearchForm">
              <label for="inputStdName"> 이름 </label>
              <!-- 아이디 입력 -->
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <input class="form-control" name="stdName" id="inputStdName" type="text" placeholder="이름">
                  </div>

                  <div class="col-md-4">
                    <select class="form-control" name="teamSearchType" id="selectTeamSearchType">
                      <!-- 현재 사용하는 admin_settings에 따라 설정을 바꿔준다. -->
                      <% for(var i = 0; i < teamType.length; i++) {%>
                      <option value = "<%=teamType[i].settings_id%>"><%=teamType[i].prj_year%>-<%=teamType[i].prj_semes%>-<%=teamType[i].term_chk%></option>
                      <% } %>
                      <option value="1"> 캡스톤 디자인 </option>
                      <option value="2"> 기업사회맞춤 </option>
                      <option value="3"> 다학제 캡스톤 디자인</option>
                    </select>
                  </div>

                  <div class="col-md-2">
                    <input class="form-control" id="stdSearchBustton" type="submit" value="찾기">
                  </div>
                </div>
              </div>
            </form>

            <form id="stdAddForm">
              <div class="form-group">
                <table class="table" id="stdTable">
                  <thead>
                    <tr>
                      <th>학번</th>
                      <th>이름</th>
                      <th>전공</th>
                      <th>팀 신청</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td colspan="4" style="text-align: center;"> 없음 </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>



        <div class="card card-register mx-auto mt-5 mb-5">
          <div class="card-header">팀 초대 리스트</div>
          <div class="card-body">

            <div class="form-group">
              <select class="form-control" name="teamInType" id="selectTeamInType">
                <!-- 현재 사용하는 admin_settings에 따라 설정을 바꿔준다. -->
                <% for(var i = 0; i < teamType.length; i++) {%>
                <option value = "<%=teamType[i].settings_id%>"><%=teamType[i].prj_year%>-<%=teamType[i].prj_semes%>-<%=teamType[i].term_chk%></option>
                <% } %>
                <option value="1"> 캡스톤 디자인 </option>
                <option value="2"> 기업사회맞춤 </option>
                <option value="3"> 다학제 캡스톤 디자인</option>
              </select>
            </div>

            <form id="stdInForm">
              <div class="form-group">
                <table class="table" id="stdInTable">
                  <thead>
                    <tr>
                      <th>학번</th>
                      <th>이름</th>
                      <th>전공</th>
                      <th>초대 현황</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% if(myTeamLeader[2].length == 0) { %>
                      <tr>
                        <td colspan="4" style="text-align: center;"> 없음 </td>
                      </tr>
                    <% } else { %>
                      <% for(var i in myTeamLeader[2]) { %>
                        <tr>
                          <td> <%= myTeamLeader[2][i].std_id %> </td>
                          <td> <%= myTeamLeader[2][i].std_name %> </td>
                          <td> <%= myTeamLeader[2][i].major %> </td>
                          <td> 초대중 </td>
                        </tr>
                      <% } %>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>
      

      <!-- 맨위로 가기 버튼 -->
      <!-- <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
      </a> -->
    </div>
    <!-- include footer -->
    <% include ../footer.html %>

    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {

        var url = window.location.search;
        console.log("url:", url)
        if(url == "?param=1") {
          $("#selectTeamSearchType").val("1").prop("selected", true);
          $("#selectTeamInType").val("1").prop("selected", true);
        } else if(url == "?param=2") {
          $("#selectTeamSearchType").val("2").prop("selected", true);
          $("#selectTeamInType").val("2").prop("selected", true);
        }

        // console.log("selected value:", $("#selectTeamSearchType option:selected").val());
        getMemberOfMyInvitation()

        //팀원 찾기
        $("#stdSearchBustton").on('click', function(event) {
          event.preventDefault();

          if($("#inputStdName").val() == "") {
            alert("이름을 입력해 주세요.");
            return false;
          }

          $.ajax({
            url: "/teammgt/DGU251/search",
            type: "post",
            cache: false,
            data: $("#stdSearchForm").serialize(),
            success: function(result) {
              if(result == "noStd") {
                var str = "<tr>";
                str += "<td colspan='4' style='text-align: center;'> 없음 </td>";
                str += "</tr>";
                alert("해당 이름이 존재하지 않습니다.");
                $("#stdTable > tbody").empty();
                $("#stdTable > tbody:last").append(str);
              } else {
                console.log(result);

                var str = "";
                for(var key in result) {
                  str += "<tr>";
                  str += "<td>" + key + "</td>";
                  str += "<td>" + result[key].name + "</td>";
                  str += "<td>" + result[key].major + "</td>";
                  if(result[key].class === undefined || result[key].class.length == 0) {
                    str += "<td> <input class='btn btn-dark' name='teamAdd' id='teamAddButton' type='submit' value='+' data-id=" + key + "> </td>";
                  } else {
                    str += "<td> X </td>";
                  }
                  str += "</tr>";
                }

                $("#stdTable > tbody").empty();
                $("#stdTable > tbody:last").append(str);
              }
            }
          });
        });


        //팀 찾기 / 초대 팀 타입 변경 이벤트
        $("#selectTeamSearchType").on('change', function(event) {
          if(url == "?param=1") {
            $("#selectTeamSearchType").val("1").prop("selected", true);
            return false;
          } else if(url == "?param=2") {
            $("#selectTeamSearchType").val("2").prop("selected", true);
            return false;
          }
          var str = "<tr> <td colspan='4' style='text-align: center;'> 없음 </td> </tr>";

          $("#stdTable > tbody").empty();
          $("#stdTable > tbody:last").append(str);
        });

        //팀원 초대하기
        $(document).on('click', '#teamAddButton', function(event) {
          if(!confirm("팀원으로 초대하시겠습니까?")) {
            return false;
          }

          var id = event.target.dataset.id;
          var type = $("#selectTeamSearchType option:selected").val();

          var str1 = "";
          var str2 = "";

          <% if(myTeamLeader[0].length == 0) { %>
            str1 = "캡스톤 디자인 팀이 없습니다.\n팀원으로 초대할 수 없습니다.";
          <% } else if(myTeamLeader[0].length != 0 && myTeamLeader[0][0].leader_id != userInfo.userId) { %>
            str1 = "캡스톤 디자인 팀장이 아닙니다.\n팀원으로 초대할 수 없습니다.";
          <% } %>

          <% if(myTeamLeader[1].length == 0) { %>
            str2 = "기업사회맞춤 팀이 없습니다.\n팀원으로 초대할 수 없습니다.";
          <% } else if(myTeamLeader[1].length != 0 && myTeamLeader[1][0].leader_id != userInfo.userId) { %>
            str2 = "기업사회맞춤 팀장이 아닙니다.\n팀원으로 초대할 수 없습니다.";
          <% } %>

          if(type == "1" && str1 != "") {
            alert(str1);

            return false;
          }

          if(type == "2" && str2 != "") {
            alert(str2);

            return false;
          }

          $.ajax({
            url: "/teammgt/DGU251/member/stdAdd",
            type: "post",
            cache: false,
            data: {stdId: id, addType: $("#selectTeamSearchType option:selected").val()},
            success: function(result) {
              if(result == "taOk") {
                alert('팀원으로 초대되었습니다.');
              } else {
                alert('팀원 초대에 실패하였습니다.');
              }

              location.reload();
            }
          });
        });

        //팀 초대 리스트 변경 이벤트 new
        $("#selectTeamInType").on('change', function(event) {

          getMemberOfMyInvitation()

        });
      });



      function getMemberOfMyInvitation() {
        $.ajax({
          url: "/teammgt/DGU251/member/myInvitation",
          type: "get",
          cache: false,
          data: { classType: $("#selectTeamInType option:selected").val() },
          success: function(result) {
            console.log(result)
            console.log(result.length)

            //location.reload();

            var str = "";
            if(result.length == 0) {
              str += "<tr>";
              str += "<td colspan='4' style='text-align: center;'> 없음 </td>";
              str += "</tr>";
            } else {
              for(let i in result) {
                console.log("student:", result[i])
                str += "<tr>";
                str += "<td>" + result[i].std_id + "</td>";
                str += "<td>" + result[i].std_name + "</td>";
                str += "<td>" + result[i].major  + "</td>";
                str += "<td> 초대중 </td>";
                str += "</tr>";
              }
            }

            $("#stdInTable > tbody").empty();
            $("#stdInTable > tbody:last").append(str);
          }
        });
      }
    </script>
  </body>
</html>
