<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="SHORTCUT ICON" href="\image\Dongguk.ico" />
  <title>동국대학교 산학연계프로젝트</title>

  <!-- Style-->
  <!--<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="../css/reset.css">
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="../css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/index.css">

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&amp;subset=korean"
        rel="stylesheet">
</head>
<!-- 메인 페이지 -->
<body id="page-top">
  <!-- 헤더 영역 -->
  <% include navBar %>

  <!-- 배너 영역 -->
  <section id="banner">
    <div class="banner">
    </div>
  </section>
  <!-- //배너 영역 -->
  
  <!-- 공지사항 영역 -->
  <section id="notice">
    <div class="content-wrapper">
      <div class="row">
        <h1 class="ir_so">공지사항 영역입니다.</h1>
        <div class="notice clearfix">
          <div class="whole_notice">
            <h2>전체 공지사항</h2>
            <a class="icon" href="/msgbrd/DGU701"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>

            <ul class="post">
              <% for(var i = 0; i < NoticePost.length; i++) { %>
                <li>
                  <a href="/msgbrd/show/<%= NoticePost[i].posting_id %>"> 
                    <%= NoticePost[i].posting_title %> 
                  </a>
                </li>
                <% }%>
            </ul>
          </div>
          
          <div class="parm_notice">
            <h2>양식함</h2>

            <a class="icon" href="/msgbrd/ReportSampleBoard"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>

            <ul class="post">
              <li><a href="/msgbrd/ReportSampleBoard %>">개인역량 점검표</a></li>
              <li><a href="/msgbrd/ReportSampleBoard %>">주제제안서</a></li>
              <li><a href="/msgbrd/ReportSampleBoard %>">수행계획서</a></li>
              <li><a href="/msgbrd/ReportSampleBoard %>">멘토링보고서</a></li>
              <li><a href="/msgbrd/ReportSampleBoard %>">최종보고서</a></li>
              <li><a href="/msgbrd/ReportSampleBoard %>">특허출원명세서</a></li>
              <li><a href="/msgbrd/ReportSampleBoard %>">프로그램 등록명세서</a></li>
              <li><a href="/msgbrd/ReportSampleBoard %>">발명신고서</a></li>
              <li><a href="/msgbrd/ReportSampleBoard %>">발명합의서</a></li>
              <li><a href="/msgbrd/ReportSampleBoard %>">사용메뉴얼</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //공지사항 영역 -->

  <!-- 프로젝트 영역 -->
  <section id="project">
    <div class="content-wrapper">
      <div class="row">
        <h1 class="ir_so">프로젝트 영역입니다</h1>
        <div class="project">
          <h2 class="title">Project List</h2>

          <% var comple = new Array(); %>
        <% var ing = new Array(); %>
        <% var apply = new Array(); %>
        <% var sta_sort = new Array() ;%>

        <% for(var i = 0; i < ProjectList.length; i++) { %>
          <% if(moment(curDate).diff(moment(ProjectList[i].strt_date).format('YYYY-MM-DD'),"months") >= 4 && !ProjectList[i].team_id) { %>
            <% continue; %>
          <% } %>
          <% if((moment(curDate).format('YYYY-MM-DD') >= moment(ProjectList[i].cls_date).format('YYYY-MM-DD'))) { %>
              <% comple.push(i) ; %>
          <% } else if(ProjectList[i].team_id) { %>
              <% ing.push(i) ; %>
          <% } else if(!ProjectList[i].team_id){ %>
               <% apply.push(i) ; %>
               <% sta_sort=apply ; %>
          <% } %>
        <% } %>

        <% for(var i = 0; i < ing.length; i++) { %>
            <% sta_sort.push(ing[i]) ; %>
        <% } %>

        <% for(var i = 0; i < comple.length; i++) { %>
            <% sta_sort.push(comple[i]) ; %>
        <% } %>
  
            <div class="card-group">
            <% for(var i = 0; i < sta_sort.length; i++) { %>
                 <div class="card-item">
                   <div class="card-body">
                       <% if(typeof userInfo != 'undefined' && typeof userInfo.userId != 'undefined') { %>
                       <h6 class="card-title">
                         <a href="/pj/<%= ProjectList[sta_sort[i]].prj_id %>"> <%= ProjectList[sta_sort[i]].prj_name %> 
                        </a>
                      </h6>
                      <%} else{%>
                         <h6 class="card-title"><a href="/mbrmgt/DGU121"> 
                          <%= ProjectList[sta_sort[i]].prj_name %>
                        </a> 
                      </h6>
                      <%}%>
                       <p class="card-text">
                         <%= ProjectList[sta_sort[i]].prj_content %>
                       </p>
                     </div>
  
                     <div class="card-icon">
                       <% if(moment(curDate).format('YYYY-MM-DD') >= moment(ProjectList[sta_sort[i]].cls_date).format('YYYY-MM-DD')) { %>
                            <img src="/image/t3.jpg" style="width: 55px; height: 55px;"/>
                       <% } else if(ProjectList[sta_sort[i]].team_id) { %>
                            <img src="/image/t2.jpg" style="width: 55px; height: 55px;"/>
                       <% } else if(!ProjectList[sta_sort[i]].team_id){ %>
                            <img src="/image/t1.jpg" style="width: 55px; height: 55px;"/>
                       <% } %>
                   </div>

                   <div class="card-body">
                       <p>
                         회사 : &nbsp <%= ProjectList[sta_sort[i]].company_name %>
                       </p>
  
                       <p>
                         멘토 : &nbsp <%= ProjectList[sta_sort[i]].mentor_name %>
                       </p>
                       <div class="choice">
                         <p>
                             <em>
                               1지망 : <%= ProjectList[sta_sort[i]].pc1 %> 팀
                              </em>
                              , 2지망 : <%= ProjectList[sta_sort[i]].pc2 %> 팀, 3지망 : <%= ProjectList[sta_sort[i]].pc3 %> 팀
                            </p>
                        </div>
                       <p>
                         분류 : <%= ProjectList[sta_sort[i]].term_chk %>
                       </p>
                   </div>

                   <div class="card-body">
                     <div class="keywords">
                     <% if(ProjectList[i].keyword1 != null &&  ProjectList[i].keyword1 != '') { %>
                          <a href="#">
                            #<%= ProjectList[sta_sort[i]].keyword1 %>
                          </a>
                          &nbsp &nbsp
                     <% } %>
                     <% if(ProjectList[i].keyword2 != null && ProjectList[i].keyword2 != '') { %>
                          <a href="#"> 
                            #<%= ProjectList[sta_sort[i]].keyword2 %>
                          </a>
                          &nbsp &nbsp
                     <% } %>
                     <% if(ProjectList[i].keyword3 != null && ProjectList[i].keyword3 != '') { %>
                          <a href="#"> 
                            #<%= ProjectList[sta_sort[i]].keyword3 %> 
                          </a>
                     <% } %>
                     &nbsp
                     </div>
                     <% if(ProjectList[i].recommended_Prof != null) { %>
                      <p>추천교수 : <%= ProjectList[sta_sort[i]].recommended_Prof %> </p>
                 <% } %>
                 &nbsp
                   </div>
  
                 </div>
            <% } %>
  
            <input type="hidden" value="<%= userInfo %>" id="navBarStatus">  </input>
  
        </div>
      </div>
  
        </div>
      </div>
    </div>
  </section>
  <!-- //프로젝트 영역 -->

  <!-- 맨위로 가기 버튼 -->
  <!-- <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>  -->
  <!-- 푸터 영역 -->
  <% include footer.html %>

  <div id="modal">
    <div class="modal_footer">
      <label for="today_check">오늘 하루 보지 않기</label>
      <input type="checkbox" id="today_check" name="today_check" />
      <button class="modal_btn_close">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class="modal_header">
    <img src="/image/modal.png"/>    
  </div>
  <!-- Bootstrap core JavaScript-->
</body>
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../js/sb-admin.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="../vendor/datatables/jquery.dataTables.js"></script>
<script src="../vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for this page-->
<script src="../js/sb-admin-datatables.min.js"></script>  

<script type="text/javascript">
  $(document).ready(function () {
    $("#modal .modal_btn_close").click(function () {
      if($("input:checkbox[name='today_check']").is(":checked")){
        setCookieMobile( "todayCookie", "done" , 1);
      }
        $("#modal").hide();
    });
});
 
function setCookieMobile ( name, value, expiredays ) {
    var todayDate = new Date();
    todayDate.setDate( todayDate.getDate() + expiredays );
    document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";"
}
function getCookieMobile () {
    var cookiedata = document.cookie;
    if ( cookiedata.indexOf("todayCookie=done") < 0 ){
         $("#modal").show();
    }
    else {
        $("#modal").hide();
    }
}
getCookieMobile();
</script>
</html>
