<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="SHORTCUT ICON" href="\image\Dongguk.ico"/>
    <title>동국대학교 산학연계프로젝트</title>

    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Date Picker -->
    <link rel="stylesheet" type="text/css" href="/public/css/datepicker3.css" />
    <script type="text/javascript" src="/public/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap-datepicker.kr.js"></script>
  </head>


  <!-- 메인 페이지 -->
  <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- 네비게이션 바 불러오기 -->
    <% include ../navBar.ejs %>

    <!-- 메인 -->
    <div class="content-wrapper">
      <!-- 메인 내용 -->
      <div class="container-fluid">
        <div class="mb-0 mt-4">
          <h6>설정 > 개설 과목 관리 > 추가</h6>
        </div>
        <hr class="mt-2">
         <div class="card mx-auto mt-5 mb-5">
          <div class="card-body">
            <div class ="form-row">
              <h5> 개설 과목 추가 </h5>
            </div>

            <form action="/setting/AddClass" method="post" id="setting" onsubmit="return CheckForm();" />
            <input type = "hidden" value ="0" name ="Classnum" id = "Classnum" />
            <div class="table-responsive" id="ProjectInfo">
            <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
              <div class="row">
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                  <thead>
                    <tr role="row">
                      <th class="sorting_desc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"  aria-sort="descending" style="width: 85%;" ></th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 15%;">
                        <div class="form-row">
                          <div class="col-md-6">
                            <a href="javascript:add_class();">
                              <center><div class="form-control"> + </div> </center>
                            </a>
                          </div>
                          <div class="col-md-6">
                            <a href="javascript:del_class();">
                              <center><div class="form-control"> - </div> </center>
                            </a>
                          </div>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- 멘토링 일정 추가 -->


                  </tbody>
                </table>
              </div>
            </div>
           </div>
            <div class="table-responsive" >
            <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
              <div class="row">
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                  <thead>
                    <tr role="row">
                      <th class="sorting_desc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"  aria-sort="descending" style="width:5%;"></th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>분류</center></th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>학수번호</center></th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>과목명</center></th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>교수</center></th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>조교</center></th>

                    </tr>
                  </thead>
                  <tbody>
                      <tr role="row" class="odd"  name = "AddBox0" id="AddBox0" >
                        <td class="sorting_1">1</td>
                        <td class=""> <select class="form-control" id='settings_id0' name='settings_id0' >
                            <option value = "0">-- 분류 --</option>
                             <% for(var i = 0; i < SettingInstList[0].length; i++) {%>
                            <option value = "<%=SettingInstList[0][i].settings_id%>"><%=SettingInstList[0][i].prj_year%>-<%=SettingInstList[0][i].prj_semes%>-<%=SettingInstList[0][i].term_chk%></option>
                              <% } %> </select> </td>

                        <td class=""> <input class="form-control" name='class_num0' id='class_num0' type="text"></td>

                        <td class=""> <input class="form-control" name='class_name0' id='class_name0' type="text" ></td>

                        <td class=""> <select class="form-control" id='inst_id0' name='inst_id0' >
                            <option value = "0">-- 교수 --</option>
                             <% for(var i = 0; i < SettingInstList[1].length; i++) {%>
                            <option value = "<%=SettingInstList[1][i].inst_id%>"><%=SettingInstList[1][i].major%>-<%=SettingInstList[1][i].inst_name%></option>
                             <% } %> </select> </td>

                        <td class=""> <select class="form-control" id='assis_id0' name='assis_id0' >
                            <option value = "0">-- 조교 --</option>
                             <% for(var i = 0; i < SettingInstList[2].length; i++) {%>
                            <option value = "<%=SettingInstList[2][i].assis_id%>"><%=SettingInstList[2][i].assis_id%>-<%=SettingInstList[2][i].assis_name%></option>
                            <% } %> </select> </td>
                      </tr>
                      <tr role="row" class="odd"  name = "AddBox1" id="AddBox1" >
                      </tr>
                      <tr role="row" class="odd"  name = "AddBox2" id="AddBox2" >
                      </tr>
                      <tr role="row" class="odd"  name = "AddBox3" id="AddBox3" >
                      </tr>
                      <tr role="row" class="odd"  name = "AddBox4" id="AddBox4" >
                      </tr>
                      <tr role="row" class="odd"  name = "AddBox5" id="AddBox5" >
                      </tr>
                      <tr role="row" class="odd"  name = "AddBox6" id="AddBox6" >
                      </tr>
                      <tr role="row" class="odd"  name = "AddBox7" id="AddBox7" >
                      </tr>
                      <tr role="row" class="odd"  name = "AddBox8" id="AddBox8" >
                      </tr>
                      <tr role="row" class="odd"  name = "AddBox9" id="AddBox9" >
                      </tr>
                  </tbody>
                </table>
              </div>
              <div class = "form-group mt-4">
                <div class="form-row">
                  <div class = "col-md-4">
                    <label> </label>
                  </div>
                  <div class = "col-md-4">
                    <center> <input type ="submit" class="btn btn-primary btn-block" name = "MakeProject" value="개설과목 등록"  /> </center>
                  </div>

                </div>
              </div>
            </div>
           </div>
         </form>
          </div>
        </div>
      </div>




      <!-- include footer -->
      <% include ../footer.html %>

      <!-- 맨위로 가기 버튼 -->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>

    <script type="text/javascript">

      var index = 0;
      var DelCheck =0;
      function add_class(){
        index +=1 ;
        var addbox = "AddBox"+index;
        var show = document.getElementById(addbox);
        var add = "";
        if (index >10){
          alert("한 번에 최대 10과목 입력 가능합니다.");
          return
        }
        else{
          id_Settings_id = "settings_id"+ (index);
          id_class_num = "class_num"+ (index);
          id_class_name = "class_name"+ (index);
          id_inst_id = "inst_id"+ (index);
          id_assis_id = "assis_id"+ (index);

          add += '<td class="sorting_1">'+(index+1)+'</td>';

          add += '<td class=""> <select class="form-control" id='+id_Settings_id+' name='+id_Settings_id+' >';
          add += '<option value = "0">-- 분류 --</option> '
          add += ' <% for(var i = 0; i < SettingInstList[0].length; i++) {%> ';
          add += '<option value = "<%=SettingInstList[0][i].settings_id%>"><%=SettingInstList[0][i].prj_year%>-<%=SettingInstList[0][i].prj_semes%>-<%=SettingInstList[0][i].term_chk%></option> ';
          add +='  <% } %> </select> </td>';

          add += '<td class="">'+'<input class="form-control"'+' name='+id_class_num+' id='+id_class_num+ ' type="text">'+ '</td> ';

          add += '<td class="">'+'<input class="form-control"'+' name='+id_class_name+' id='+id_class_name+ ' type="text" >'+'</td>';

          add += '<td class=""> <select class="form-control" id='+id_inst_id+' name='+id_inst_id+' >';
          add += '<option value = "0">-- 교수 --</option> '
          add += ' <% for(var i = 0; i < SettingInstList[1].length; i++) {%> ';
          add += '<option value = "<%=SettingInstList[1][i].inst_id%>"><%=SettingInstList[1][i].major%>-<%=SettingInstList[1][i].inst_name%></option> ';
          add +='  <% } %> </select> </td>';

          add += '<td class=""> <select class="form-control" id='+id_assis_id+' name='+id_assis_id+' >';
          add += '<option value = "0">-- 조교 --</option> '
          add += ' <% for(var i = 0; i < SettingInstList[2].length; i++) {%> ';
          add += '<option value = "<%=SettingInstList[2][i].assis_id%>"><%=SettingInstList[2][i].assis_id%>-<%=SettingInstList[2][i].assis_name%></option> ';
          add +='  <% } %> </select> </td>';
          show.innerHTML = add ;
          document.getElementById("Classnum").value = index;
        }
      }
      function del_class(){
        var addboxIndex = "AddBox"+index;
        var show = document.getElementById(addboxIndex);

        if(DelCheck==0 && confirm("가장 하단의 항목부터 삭제됩니다.")==true){
          DelCheck += 1;
          if (index > 0){
            show.innerHTML = "";
            index -=1;
            document.getElementById("Classnum").value = index;
          }else{
            alert("더 이상 삭제할 수 없습니다.");
          }
        }else{
          if (index > 0){
            show.innerHTML = "";
            index -=1;
            document.getElementById("Classnum").value = index;
          }else{
            alert("더 이상 삭제할 수 없습니다.");
          }
        }
      }

      function CheckForm(){
        for (var i =0; i<=index ; i++){
          var id_Settings_id = "settings_id"+ i;
          var id_class_num = "class_num"+ i;
          var id_class_name = "class_name"+ i;
          var id_inst_id = "inst_id"+ i;
          var id_assis_id = "assis_id"+ i;

          settings_id_value = document.getElementById(id_Settings_id).value;
          class_num_value =document.getElementById(id_class_num).value;
          class_name_value = document.getElementById(id_class_name).value;
          inst_id_value = document.getElementById(id_inst_id).value;
          assis_id_value = document.getElementById(id_assis_id).value;

          if(settings_id_value=="0"){
            alert((i+1)+"번째 분류를 선택해주세요.");
            document.getElementById(id_Settings_id).focus;
            return false;
          }
          if (class_num_value==''){
            alert((i+1) + "번째 학수번호를 입력해주세요.");
            document.getElementById(id_class_num).focus;
            return false;
          }
          if (class_name_value==''){
            alert((i+1) + "번째 과목명을 입력해주세요.");
            document.getElementById(id_class_name).focus;
            return false;
          }
          if (inst_id_value=="0"){
            alert((i+1) + "번째 교수를 선택해주세요.");
            document.getElementById(id_inst_id).focus;
            return false;
          }
          if (assis_id_value=="0"){
          alert((i+1) + "번째 조교를 선택해주세요.");
            document.getElementById(id_assis_id).focus;
            return false;
          }
        }

        if(confirm("개설 과목을 등록하시겠습니까?") == true){
          return true;
        }else{
          return false;
        }
      }

    </script>
  </body>
</html>
