<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="SHORTCUT ICON" href="\image\Dongguk.ico"/>
    <title>동국대학교 산학연계프로젝트</title>

    <link rel="stylesheet" href="../css/reset.css">
    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">
  </head>

  <!-- 메인 페이지 -->
  <body id="page-top">
    <!-- 네비게이션 바 불러오기 -->
    <% include ../navBar.ejs %> 

    <!-- 메인 -->
    <div class="content-wrapper">
      <!-- 메인 내용 -->
      <div class="container-fluid">
        <div class="mb-0 mt-4">
          <h6>과거 자료 관리 > 이관 작업 </h6>
        </div>
        <hr class="mt-2">
        <div class="card-register mx-auto mt-5 mb-5">
         <div class="card-body">
           <!-- <h2> 계획서 관리 </h2> -->
            <div class="table-responsive mt-3" id="SearchAll" >
            <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
              <div class="row">
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                  <thead>
                    <tr role="row">
                      <th class="sorting_desc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"  aria-sort="descending" style="width: 5%;"></th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 50%; text-align:center">연도-학기-분류(수정)</th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 20%; text-align:center"><input type="checkbox" name="_selected_all_"></th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 30%; text-align:center;">이관날짜</th>
                    </tr>
                  </thead>

                  <tfoot>
                    <tbody>
                      <!-- 프로젝트 조회 -->
                      <% for(var i = 0; i < SemesList.length; i++) {%>
                          <tr role="row" class="odd" >
                            <td class="sorting_1"><%= i+1 %></td>
                            <td><a href="/setting/edit/<%= SemesList[i].settings_id %>"> <%= SemesList[i].prj_year %>  -  <%= SemesList[i].prj_semes%>  -  <%= SemesList[i].term_chk %></a></td>
                            <td style="text-align:center">
                              <input class="transfer_semes_id" type="checkbox" name="<%=i%>" value="<%=SemesList[i].settings_id%>"></td>
                            <td style="text-align:center">
                              <% if(SemesList[i].transfer_date){%>
                                <%=SemesList[i].transfer_date%>
                              <% }else{%>
                              -
                              <%}%>
                            </td>
                          </tr>
                      <% } %>
                    </tbody>
                  </tfoot>
                 </table>
                </div>
              </div>
             </div>
           <div style="margin-left:70%">
             <input type="submit"  class="btn btn-primary " id="btnTransfer"  value="이 관"/>
             <input type="submit"  class="btn btn-danger" id="btnTransferCancel"  value="이관 취소"/>
           </div>
         </div>
      </div>
    </div>
      <!-- 맨위로 가기 버튼 -->
      <!-- <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
      </a> -->
    </div>
    <!-- include footer -->
    <% include ../footer.html %>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>

    <script type="text/javascript">

    $(document).ready(function () {
        $('input[name=_selected_all_]').on('change', function(){
          $('input[class=transfer_semes_id]').prop('checked', this.checked);
        });
        $("#btnTransfer").click(function(){
            var arr = []
            var temp = $('input[class=transfer_semes_id]:checked').serializeArray().map(function(item){arr.push(item.value)});
            // var arr = $('input[class=transfer_semes_id]:checked').serializeArray().map(function(item) { return item.value });
            console.log(arr)
            ajaxCall(arr,true);
        });
        $("#btnTransferCancel").click(function(){
            var arr = []
            var temp = $('input[class=transfer_semes_id]:checked').serializeArray().map(function(item){arr.push(item.value)});
            console.log(arr)
            ajaxCall(arr,false);
        })
        function ajaxCall(arr,transfer){
            console.log(arr,transfer)
            if(transfer){
                var targetUrl='/setting/DGU902/transfer';
            }else{
                var targetUrl='/setting/DGU902/transferCancel';
            }

            if(arr.length!=undefined){
                $.ajax({
                    url:targetUrl,
                    type:'post',
                    data:{'semes_id':arr},
                    success:function(result){
                        if(transfer){
                          alert("이관되었습니다.");
                        }else{
                          alert("이관이 취소되었습니다.");
                        }
                        location.reload();
                    }
                });
            }
        }

    });

    function CheckForm(){
        console.log('checkform');
        var transfer_semes_id = document.querySelectorAll('.transfer_semes_id:checked').value;
        console.log(transfer_semes_id)
    }
    </script>
  </body>
</html>

