<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="SHORTCUT ICON" href="\image\Dongguk.ico" />
    <title>동국대학교 산학연계프로젝트</title>

    <link rel="stylesheet" href="../css/reset.css">
    <!-- Bootstrap core CSS-->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template-->
    <link
      href="../vendor/font-awesome/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin.css" rel="stylesheet" />

    <!-- Page level plugin CSS-->
    <link
      href="../vendor/datatables/dataTables.bootstrap4.css"
      rel="stylesheet"
    />
  </head>

  <!-- 메인 페이지 -->
  <body id="page-top">
    <!-- 네비게이션 바 불러오기 -->
    <% include ../navBar.ejs %>

    <!-- 메인 -->
    <div class="content-wrapper">
      <!-- 메인 내용 -->
      <div class="container-fluid">
        <h6>프로젝트 운영 > 총괄</h6>
        <hr />
        <div class="card mb-3">
          <div class="card-body">
            <div style="margin-left: 50%;">
              * 엑셀 다운로드는 Chrome 브라우저에서 동작합니다 *
            </div>
            <a id="btnExport" href="#" download="" style="margin-left: 92%;">
              <input type="button" class="btn btn-primary" value="Excel 다운" />
            </a>

            <div class="card-body">
              <form action="/pjmng/DGU532" method="get"  enctype="multipart/form-data">
                <div class="form-group">
                  <!-- 보고서 목록 -->
                  <div class = "form-row">
                    <div class="col-md-4">
                      <select class="form-control" id="SettingId" name="SettingId" >
                        <option value = "0">=== 분류 ===</option>
                        <% for(let i = 0; i < Options1.length; i++) { %>
                        <option value="<%= Options1[i].settings_id %>"><%= Options1[i].prj_year %> - <%= Options1[i].prj_semes %> - <%= Options1[i].term_chk %></option>
                        <% } %>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                  <button>제출</button>
                </div>
              </form>
            </div>
            
            <hr />

            <div class="table-responsive">
              <table
                class="table table-bordered-sm table-hover"
                id="dataTable"
                width="100%"
                cellspacing="0"
              >
                <thead>
                  <tr>
                    <th style="text-align: center;">연도</th>
                    <th style="text-align: center;">학기</th>
                    <th style="text-align: center;">분류</th>
                    <th style="text-align: center;">팀명</th>
                    <th style="text-align: center;">프로젝트명</th>
                    <th style="text-align: center;">수행계획서</th>
                    <!-- <th style="text-align: center;">멘토링보고서</th> -->
                    <th style="text-align: center;">최종보고서</th>
                    <th style="text-align: center;">소스파일</th>
                    <th style="text-align: center;">동영상</th>
                    <th style="text-align: center;">특허</th>
                    <th style="text-align: center;">프로그램</th>
                    <th style="text-align: center;">논문</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i = 0; i < FinalLists.length; i++) {%>
                  <tr>
                    <td style="text-align: center;">
                      <%= FinalLists[i].prj_year %>
                    </td>
                    <td style="text-align: center;">
                      <%= FinalLists[i].prj_semes %>
                    </td>
                    <td style="text-align: center;">
                      <%= FinalLists[i].term_chk %>
                    </td>
                    <td style="text-align: center;">
                      <%= FinalLists[i].team_name %>
                    </td>
                    <td style="text-align: center;">
                      <a href="/pjmng/DGU521/page/<%=FinalLists[i].prj_id %>">>
                        <%= FinalLists[i].prj_name %>
                      </a>
                    </td>
                    <!-- 수행계획서 확인 -->
                    <td style="text-align: center;">
                      <% if(FinalLists[i].prj_plan_report != null) { %> O <% }
                      else {%> X <% } %>
                    </td>
                    <!-- 최종보고서 확인 -->
                    <td style="text-align: center;">
                      <% if(FinalLists[i].fin_report != null) { %> O <% } else
                      {%> X <% } %>
                    </td>
                    <!-- 소스파일 확인 -->
                    <td style="text-align: center;">
                      <% if(FinalLists[i].product1 != null) { %> O <% } else {%>
                      X <% } %>
                    </td>
                    <!-- 결과발표회동영상 확인 -->
                    <td style="text-align: center;">
                      <% if(FinalLists[i].demo_vid != null) { %> O <% } else {%>
                      X <% } %>
                    </td>
                    <!-- 특허 확인 -->
                    <td style="text-align: center;">
                      <% if(FinalLists[i].patent_doc != null) { %> O <% } else
                      {%> X <% } %>
                    </td>
                    <!-- 프로그램 확인 -->
                    <td style="text-align: center;">
                      <% if(FinalLists[i].prg_regis != null) { %> O <% } else
                      {%> X <% } %>
                    </td>
                    <!-- 논문 확인 -->
                    <td style="text-align: center;">
                      <% if(FinalLists[i].thesis_file != null) { %> O <% } else
                      {%> X <% } %>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- 맨위로 가기 버튼 -->
      <!-- <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
      </a> -->
    </div>
  </div>
    <!-- include footer -->
    <% include ../footer.html %>

    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="../vendor/datatables/jquery.dataTables.js"></script>
    <script src="../vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for this page-->
    <script src="../js/sb-admin-datatables.min.js"></script>

    <script
      type="text/javascript"
      src="../js/jquery.battatech.excelexport.js"
    ></script>

    <script type="text/javascript">
      $(document).ready(function () {
        $("#btnExport").on("click", function () {
          var uri = $("#dataTable").excelexportjs({
            containerid: "dataTable",
            datatype: "table",
            returnUri: true,
          });
          $(this)
            .attr("download", "팀진행사항.xls")
            .attr("href", uri)
            .attr("target", "_blank");
        });
      });

      function onSubmitSearchForm() {
        selected =  $("#selectDevelopment option:selected").val();
        location.href = "pjmng/DGU532/year?="+selected;
      }
    </script>
  </body>
</html>
