<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="SHORTCUT ICON" href="\image\Dongguk.ico"/>
    <title>동국대학교 산학연계프로젝트</title>

    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Date Picker -->
    <link rel="stylesheet" type="text/css" href="/public/css/datepicker3.css" />
    <script type="text/javascript" src="/public/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap-datepicker.kr.js"></script>
</head>


<!-- 메인 페이지 -->
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- 네비게이션 바 불러오기 -->
<% include ../navBar.ejs %>

<!-- 메인 -->
<div class="content-wrapper">
    <!-- 메인 내용 -->
    <div class="container-fluid">
        <div class="mb-0 mt-4">
            <h6> 팜 관리 > 팀 보기</h6>
        </div>
        <hr class="mt-2">
        <div class="card mx-auto mt-5 mb-5">
            <div class="card-body">
                <div class ="form-row">
                    <h5> 팀 상세보기 </h5>
                </div>

                <% if(userInfo.userType == 'admin' && userInfo.userId == 'admin') { %>
                <%}%>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="table-responsive" id="div-dataTable0">
                            <div class="table-responsive" >
                                <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                    <div class="row">
                                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                            <tbody id="dataTableTBody">

                                            <tr role="row" class="odd">
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>팀명</center></th>
                                                <td class="" colspan="2"><%=ClassInfo[1][0].team_name%></td>
                                            </tr>

                                            <tr role="row" class="odd">
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>주제</center></th>
                                                <td class="" colspan="2"><%=ClassInfo[1][0].team_sub%></td>
                                            </tr>

                                            <tr role="row" class="odd">
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>생성 배경</center></th>
                                                <td class="" colspan="2"><%=ClassInfo[1][0].team_bckgrd%></td>
                                            </tr>

                                            <tr role="row" class="odd">
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>동향 기술</center></th>
                                                <td class="" colspan="2"><%=ClassInfo[1][0].team_ncst%></td>
                                            </tr>

                                            <tr role="row" class="odd">
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>keyword1</center></th>
                                                <td class="" colspan="2"><%=ClassInfo[1][0].team_cate%></td>
                                            </tr>

                                            <tr role="row" class="odd">
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>keyword2</center></th>
                                                <td class="" colspan="2"><%=ClassInfo[1][0].team_cate2%></td>
                                            </tr>

                                            <tr role="row" class="odd">
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>keyword3</center></th>
                                                <td class="" colspan="2"><%=ClassInfo[1][0].team_cate3%></td>
                                            </tr>

                                            <tr role="row" class="odd">
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>팀장</center></th>
                                                <td class="" colspan="2"><%=ClassInfo[1][0].std_id%></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                    <div class = "form-group mt-4">
                                        <div class="form-row">
                                            <div class = "col-md-4">
                                                <label> </label>
                                            </div>
                                            <% if(userInfo.userType == 'admin' && userInfo.userId == 'admin') { %>
                                            <div class = "col-md-2">
                                                <center> <a href ="/parm/SetTeam/<%=ClassInfo[1][0].team_id%>" class="btn btn-primary btn-block">팀 수정</a></center>
                                            </div>
                                            <%}%>
                                            <div class = "col-md-2">
                                                <center> <a href ="/parm/PARMMAIN?parm_id=<%=ClassInfo[0].parm_id%>" class="btn btn-danger">취소</a> </center>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive" id="div-dataTable1">
                            <table class="table table-bordered display" id="dataTable1" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <% for(var key = 0; key < allUserInfosFields[2].length; key++) { %>
                                        <th><%= allUserInfosFields[2][key].name %></th>
                                    <% } %>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var key = 0; key < ClassInfo[2].length; key++) { %>
                                    <tr>
                                        <% for(var key in ClassInfo[2][i]) { %>
                                            <td><center><%= ClassInfo[2][i][key] %></center></td>
                                        <% } %>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                        <form action="/parm/AddTeamMem" method="post" id="setting" onsubmit="return CheckForm();" />
                        <input type = "hidden" value ="0" name ="Classnum" id = "Classnum" />
                        <div class="table-responsive" id="ProjectInfo">
                            <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                <div class="row">
                                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_desc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"  aria-sort="descending" style="width: 85%;" ></th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 15%;">
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <a href="javascript:add_class();">
                                                            <center><div class="form-control"> + </div> </center>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a href="javascript:del_class();">
                                                            <center><div class="form-control"> - </div> </center>
                                                        </a>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!-- 멘토링 일정 추가 -->


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive" >
                            <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                <div class="row">
                                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_desc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"  aria-sort="descending" style="width:5%;"></th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>팀원 아이디</center></th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>팀원명</center></th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr role="row" class="odd"  name = "AddBox0" id="AddBox0" >
                                            <td class="sorting_1">1</td>
                                            <td class=""> <input class="form-control" name='std_id0' id='std_id0' type="text"></td>

                                            <td class=""> <input class="form-control" name='std_name0' id='std_name0' type="text" ></td>

                                        </tr>
                                        <tr role="row" class="odd"  name = "AddBox1" id="AddBox1" >
                                        </tr>
                                        <tr role="row" class="odd"  name = "AddBox2" id="AddBox2" >
                                        </tr>
                                        <tr role="row" class="odd"  name = "AddBox3" id="AddBox3" >
                                        </tr>
                                        <tr role="row" class="odd"  name = "AddBox4" id="AddBox4" >
                                        </tr>
                                        <tr role="row" class="odd"  name = "AddBox5" id="AddBox5" >
                                        </tr>
                                        <tr role="row" class="odd"  name = "AddBox6" id="AddBox6" >
                                        </tr>
                                        <tr role="row" class="odd"  name = "AddBox7" id="AddBox7" >
                                        </tr>
                                        <tr role="row" class="odd"  name = "AddBox8" id="AddBox8" >
                                        </tr>
                                        <tr role="row" class="odd"  name = "AddBox9" id="AddBox9" >
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class = "form-group mt-4">
                                    <div class="form-row">
                                        <div class = "col-md-4">
                                            <label> </label>
                                        </div>
                                        <div class = "col-md-4">
                                            <center> <input type ="submit" class="btn btn-primary btn-block" name = "MakeProject" value="팀원 등록"  /> </center>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>




    <!-- include footer -->
    <% include ../footer.html %>

    <!-- 맨위로 가기 버튼 -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin.min.js"></script>


<script type="text/javascript">

    var index = 0;
    var DelCheck =0;
    function add_class(){
        index +=1 ;
        var addbox = "AddBox"+index;
        var show = document.getElementById(addbox);
        var add = "";
        if (index >10){
            alert("한 번에 최대 10과목 입력 가능합니다.");
            return
        }
        else{
            id_std_id = "std_id"+ (index);
            id_std_name = "std_name"+ (index);

            add += '<td class="sorting_1">'+(index+1)+'</td>';

            add += '<td class="">'+'<input class="form-control"'+' name='+id_std_id+' id='+id_std_id+ ' type="text">'+ '</td> ';

            add += '<td class="">'+'<input class="form-control"'+' name='+id_std_name+' id='+id_std_name+ ' type="text" >'+'</td>';

            show.innerHTML = add ;
            document.getElementById("Classnum").value = index;
        }
    }
    function del_class(){
        var addboxIndex = "AddBox"+index;
        var show = document.getElementById(addboxIndex);

        if(DelCheck==0 && confirm("가장 하단의 항목부터 삭제됩니다.")==true){
            DelCheck += 1;
            if (index > 0){
                show.innerHTML = "";
                index -=1;
                document.getElementById("Classnum").value = index;
            }else{
                alert("더 이상 삭제할 수 없습니다.");
            }
        }else{
            if (index > 0){
                show.innerHTML = "";
                index -=1;
                document.getElementById("Classnum").value = index;
            }else{
                alert("더 이상 삭제할 수 없습니다.");
            }
        }
    }

</script>
</body>
</html>
