<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="SHORTCUT ICON" href="\image\Dongguk.ico"/>
    <title>동국대학교 산학연계프로젝트</title>

    <link rel="stylesheet" href="../css/reset.css">
    <!-- Bootstrap core CSS-->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin.css" rel="stylesheet">

    <!-- Page level plugin CSS-->
    <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  </head>

  <!-- 메인 페이지 -->
  <body id="page-top">
    <!-- 네비게이션 바 불러오기 -->
    <% include ../navBar.ejs %>

    <!-- 메인 -->
    <div class="content-wrapper">
      <!-- 메인 내용 -->
      <div class="container-fluid">
        <h6>통계 > 세부 조회</h6>
        <hr>

        <div class="card mb-3">
          <div class="card-body">
            <div class="form-row">
            <a id="btnExport" href="#" download="" style ="margin-left:92%; ">
              <input type="button"  class="btn btn-primary"  value="Excel 다운"/>
            </a>
            </div>
            <hr>
            <hr>
            <div class="table-responsive">
              <table class="table table-bordered-sm" id="dataTable2" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th style="width: 7%;">학 기</th>
                    <th style="width: 10%;">수업유형</th>
                    <th style="width: 10%;">학수번호</th>
                    <th style="width: 20%;">프로젝트 명</th>
                    <th style="width: 10%;">팀 명</th>
                    <th style="width: 10%;">담당교수</th>
                    <th style="width: 10%;">멘 토</th>
                    <th style="width: 7%;">전화번호</th>
                    <th style="width: 5%;">멘토링 횟수</th>
                    <th style="width: 7%;"><center><input type="checkbox" name="_selected_all_"></center></th>

                  </tr>
                </thead>
                <tbody>
                  <% for(var i = 0; i < PastList[1].length; i++) {%>
                       <tr>
                         <td><%= PastList[1][i].prj_year %>-<%= PastList[1][i].prj_semes %></td>
                         <td><%= PastList[1][i].term_chk %></td>
                         <td><%= PastList[1][i].class_num %></td>
                         <td><a href="/setting/DGU903/<%= PastList[1][i].prj_id %>"><%= PastList[1][i].prj_name %></a>
                           </td>
                         <td><%= PastList[1][i].team_name %></td>
                         <td><%= PastList[1][i].major %>--<%= PastList[1][i].inst_name %></td>
                         <td><%= PastList[1][i].company_name %>--<%= PastList[1][i].mentor_name %></td>
                         <td><%= PastList[1][i].phone_num %></td>
                         <td><center><%= PastList[1][i].mentor_cnt %></center></td>
                         <td><center><input class="transfer_pj_id" type="checkbox" name="_selected_" value="<%= PastList[1][i].prj_id %>"></center></td>
                       </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <a id="btnFile"style ="margin-left:88%;" >
        <input type="button"  class="btn btn-primary"  value="선택파일 다운로드"/>
      </a>

      <!-- 맨위로 가기 버튼 -->
      <!-- <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
      </a> -->
    </div>
    <!-- include footer -->
    <% include ../footer.html %>

    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="../vendor/datatables/jquery.dataTables.js"></script>
    <script src="../vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for this page-->
    <script src="../js/sb-admin-datatables.min.js"></script>

    <script type="text/javascript" src="../js/jquery.battatech.excelexport.js"></script>

    <script type="text/javascript">

    function changeItem(){

      var itemidSelect = document.getElementById("semester");
      var itemID = itemidSelect.options[itemidSelect.selectedIndex].value;

      var strBody = "";

      if( itemID == "전체"){
          <% for(var i = 0; i < PastList[1].length; i++) {%>
            strBody += "<tr>";
              strBody += "<td>" + '<%= PastList[1][i].prj_year %>' + "-" + '<%= PastList[1][i].prj_semes %>' + "</td>";
              strBody += "<td>" + '<%= PastList[1][i].term_chk %>' + "</td>";
              strBody += "<td>" + '<%= PastList[1][i].class_num %>' + "</td>";
              strBody += "<td>" + "<a href=\"/setting/DGU903/<%= PastList[1][i].prj_id %>\"><%= PastList[1][i].prj_name %></a>" + "</td>";
              strBody += "<td>" + '<%= PastList[1][i].team_name %>' + "</td>";
              strBody += "<td>" + '<%= PastList[1][i].major %>' +'--'+'<%= PastList[1][i].inst_name %>' + "</td>";
              strBody += "<td>" + '<%= PastList[1][i].company_name %>' +'--'+'<%= PastList[1][i].mentor_name %>' + "</td>";
              strBody += "<td>" + '<%= PastList[1][i].phone_num %>' + "</td>";
              strBody += "<td>" + "<center>"+'<%= PastList[1][i].mentor_cnt %>'+"</center>" + "</td>";
              strBody += "<td>" + "<center><input class=\"transfer_pj_id\" type=\"checkbox\" name=\"_selected_\" value=\"<%= PastList[1][i].prj_id %>\"></center>" + "</td>";
            strBody += "</tr>";
          <% } %>
        }
        else{
          <% for(var i = 0; i < PastList[1].length; i++) {%>
              if ( itemID == '<%= PastList[1][i].prj_year %>' + '-' + '<%=PastList[1][i].prj_semes%>' + '-' + '<%=PastList[1][i].term_chk%>' ) {
                 strBody += "<tr>";
                   strBody += "<td>" + '<%= PastList[1][i].prj_year %>' + "-" + '<%= PastList[1][i].prj_semes %>' + "</td>";
                   strBody += "<td>" + '<%= PastList[1][i].term_chk %>' + "</td>";
                   strBody += "<td>" + '<%= PastList[1][i].class_num %>' + "</td>";
                   strBody += "<td>" + "<a href=\"/setting/DGU903/<%= PastList[1][i].prj_id %>\"><%= PastList[1][i].prj_name %></a>" + "</td>";
                   strBody += "<td>" + '<%= PastList[1][i].team_name %>' + "</td>";
                   strBody += "<td>" + '<%= PastList[1][i].major %>' +'--'+'<%= PastList[1][i].inst_name %>' + "</td>";
                   strBody += "<td>" + '<%= PastList[1][i].company_name %>' +'--'+'<%= PastList[1][i].mentor_name %>' + "</td>";
                   strBody += "<td>" + '<%= PastList[1][i].phone_num %>' + "</td>";
                   strBody += "<td>" + "<center>"+'<%= PastList[1][i].mentor_cnt %>'+"</center>" + "</td>";
                   strBody += "<td>" + "<center><input class=\"transfer_pj_id\" type=\"checkbox\" name=\"_selected_\" value=\"<%= PastList[1][i].prj_id %>\"></center>" + "</td>";
                 strBody += "</tr>";
              }
            <% } %>

        }


      $("#dataTable2 > tbody").empty();

      $("#dataTable2 > tbody:last").append(strBody);
      }




    $(document).ready(function () {
        $("#dataTable2").dataTable({
          "iDisplayLength": 300
        });

        $("#btnExport").on('click', function () {
            var itemidSelect = document.getElementById("semester");
            var itemID = itemidSelect.options[itemidSelect.selectedIndex].value;
            var uri = $("#dataTable2").excelexportjs({
                containerid: "dataTable2"
                , datatype:  'table'
                , returnUri: true
            });
            var name = itemID + ".xls"
            $(this).attr('download', name).attr('href', uri).attr('target', '_blank');
        });

        $("#btnFile").click(function(){
            var arr = []
            var temp = $('input[class=transfer_pj_id]:checked').serializeArray().map(function(item){arr.push(item.value)});
            // var arr = $('input[class=transfer_semes_id]:checked').serializeArray().map(function(item) { return item.value });
            if(arr.length==0){
                alert('하나 이상의 프로젝트를 고르세요')
                return false;
            }else{
                alert(arr.length.toString()+"개 프로젝트 다운로드를 시작합니다.")
                ajaxCall(arr);
            }

        });
        function ajaxCall(arr){
            console.log(arr)
            if(arr.length!=undefined){
                $.ajax({
                    url:'/setting/DGU901/downloadProjectFile',
                    type:'post',
                    data:{'prj_id':arr},
                    success:function(result){
                      console.log(result)
                      var downloadPath = result.substring(10);
                      location.href = "/fileDownload/" + downloadPath+"/transfer";
                      console.log(arr.length,'개 프로젝트 파일 다운로드 완료');
                    }
                });
            }
        }


        $('input[name=_selected_all_]').on('change', function(){
          $('input[name=_selected_]').prop('checked', this.checked);
        });

        var arr = $('input[name=_selected_]:checked').serializeArray().map(function(item) { return item.value });

        var oTable = $('#dataTable2').dataTable();
        oTable.fnFilter('<%=year%> <%=instructor%> <%=classNum%>');

    });



    </script>
  </body>
</html>
